
/* ================================================================================
GENERAL STYLES
================================================================================ */

* {
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}

p {
  font-size: 1rem;
}

h5 {
  font-weight: bold;
  font-size: 1rem;
}

hr {
  margin-left: 30px;
  margin-right: 30px;
  max-width: 1200px;
}

.container {
  padding: 0;
}

.heading-container {
  padding: 3rem 0 .5rem 0;
}

.heading-row {
  background-color: #F8F8F8;
  justify-content: center;
}

.heading-row h5 {
  background-color: #FF6600;
  color: white;
  padding: .7rem;
  font-weight: 300;
}


/* ================================================================================
NAVIGATION
================================================================================ */

#navbarNav {
  justify-content: flex-end;
}

.navbar {
  background-color: #F8F8F8;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-toggler-icon {
  margin: .2rem 0;
}

.nav-item {
  padding: .6rem;
  cursor: pointer;
}

.nav-item:hover  {
  background-color: #FF6600;
}

.active {
  background-color: #FF6600;
}

.navbar-light .navbar-nav .active>.nav-link {
  color: white;
}

.navbar-brand {
  color: black;
  font-size: 1.6rem;
}

.fa-handshake {
  color: #FF6600;
}
/* ================================================================================
JUMBOTRON
================================================================================ */

.jumbotron {
  background-image: url("../images/laptop.jpg");
  background-size: cover;
  background-position: 50% 62%;
  height: 325px;
  padding: 0;
  text-transform: uppercase;
  box-shadow: 0 0 10px black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#jumbotron-container {
  padding: 4rem 1rem ;
}

.jumbotron h1 {
  font-size: 3rem;
  font-weight: 300;
  color: black;
}

.lead {
  font-weight: 500;
  color: #FF6600;
  margin-top: 1rem;
  margin-bottom: 0;
}

.lead-2 {
  font-weight: 400;
  color: black;
  font-size: 2.5rem;
}


@media (max-width: 575px) {

  #jumbotron-container {
    padding: 3rem 1rem ;
  }

  .jumbotron h1 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
  }

  .jumbotron .lead,
  .jumbotron .lead-2 {
    font-size: 1.5rem;
  }
}
/* ================================================================================
MAIN
================================================================================ */

main {
  width: 85%;
  max-width: 1200px;
  margin: auto;
}

#introductory-text {
  text-align: center;
}


/* ================================================================================
FIRST ROW SECTION
================================================================================ */

.orange {
  color: #FE6B08;
  font-weight: bold;
}


/* ================================================================================
SECOND ROW SECTION
================================================================================ */
.card {
  margin-bottom: 5px;
}
.card-body {
  background-color: #F8F8F8;
  text-align: center;
}

/* ================================================================================
THIRD ROW SECTION
================================================================================ */

.third-row-section-image {
  margin-top: 2px;
}

/* ================================================================================
SOCIAL MEDIA CONTAINER
================================================================================ */

#social-media-container {
  color: white;
  background-color: #65605C;
  padding: 1rem 2rem;
}

#address-container {
  border-top: 1px solid #5B5754;
  border-bottom: 1px solid #5B5754;
}
