/* ================================================================================
NAVIGATION
================================================================================ */
#navbarNav {
  justify-content: flex-end;
}

/* ================================================================================
JUMBOTRON
================================================================================ */



/* ================================================================================
MAIN
================================================================================ */

main {
  width: 85%;
  max-width: 1200px;
  margin: auto;
  text-align: center;
}


/* ================================================================================
BOTTOM CONTAINER
================================================================================ */
